
<%= form_for([@country, @visit], remote: true) do |f| %>
	<form action='/countries' method='POST'>
	<%= f.label :'Additional places visited:' %>
	  <br>
	 <%= f.text_area :visit_places%>
	  <br>
	  <br>
	 <%= f.label :'When was your visit?' %>
	  <br>
	  <%= f.date_select :visit_date, :discard_hours => true%>
	  <br>
	  <br>
	  <%= f.submit "Add"%>
	<% end %>
</form>

