<h4><%= @visit.user.name %></h4>
<p>Country: <%= @visit.country.name%></p>
<p>Area Visited: <%= @visit.visit_places %></p>
<p>Date: <%= @visit.visit_date.strftime("%m/%d/%Y") %></p>

<p><a href="/countries"> Countries </a></p>
<p><%= link_to "Back", @country %></p>

