<h4><%= @visit.user.name %></h4>
<p>Country: <%= @visit.country.name%></p>
<p>Area Visited: <%= @visit.visit_places %></p>
<p>Date: <%= @visit.visit_date.strftime("%m/%d/%Y") %></p>

  <%= button_to "Delete", country_visit_path, :method => :delete, :class => "destroy" %>
<br>
<br>
<button><a href="/countries"> Countries </a></button>
<button><%= link_to "Back", @country %></button>

