
<div id=samp>
<h1 class="bucketCountry">Country: <%= @bucket.country %></h1>
<p class="bucketContinent">Continent: <%= @bucket.continent %></p>
<p class="bucketCity">Cities you want to visit: <%= @bucket.city %></p>
<p class="bucketDescription">Description: <%= @bucket.description %></p>
<br>
<br>


</div>



<div class="flip-control">

	<% if @bucket.id > 1 %>
		<button  class="previous" data-id="<%=@bucket.id%>">Previous Country</button>
	<% end %>

    <button class="next" data-id="<%=@bucket.id%>">Next Country</button>



	<button class="back"> Back </button>
	<button><%= link_to "Edit", edit_bucket_path %></button>

</div>

