<div class= "buckets">
	<p class="bucketCont"><strong> Continent: </strong><%= @bucket.continent%></p>
	<p class="bucketName"><strong> Country you want to visit: </strong><%= @bucket.country%> </p>
	<p class="bucketCity"><strong> Cities you want to tour: </strong><%= @bucket.city%></p>
	<p class="bucketDescript"><strong>Description: </strong><%= @bucket.description%></p>
</div>

<br>

 <%= link_to "Edit List", edit_bucket_path %>

<br>
<br>

 <a href="/buckets"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @bucket, :method => :delete %>