<h4> Continent<%= @bucket.continent%></h4>
<h5> Country: <%= @bucket.country%> </h5>
<h5> Cities you want to tour: <%= @bucket.city%></h5>
<h5>Description: <%= @bucket.description%></h5>

<br>
<br>

 <%= link_to "Edit List", edit_bucket_path %>

<br>
<br>

 <a href="/buckets"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @bucket, :method => :delete %>