<%= form_for @country do |f| %>
<div>
  <%= f.label :'What continent did you visit?' %>
  <br>
  <%= f.text_field :continent %>
  <br>
  <br>
  <%= f.label :'Which country did you travel to?' %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
   <%= f.label :'What are some cities you went to?' %>
  <br>
  <%= f.text_field :city%>
  <br>
  <br>
  <%= f.label :Description %>
  <br>
  <%= f.text_area :description %>
  <br>
  <br>
  <%= f.submit "Submit" %>
</div>
<% end %>
