<h2 class= 'title'> Countries Travelled </h2>

<div>
	<ol><% @user.countries.uniq.each do |country| %>
		
		<strong><li><%= link_to country.name, country %></li><strong>
			<p id="cont"class="hidden">Continent: <%= country.continent%></p>
		<p id="city" class="hidden">City: <%= country.city%></p>

		  <button class="see_more" data-id="<%= product.id %>">More Info</button>
		
		

		<a href="#" id="see_less" onclick="see_less();"data-id="<%=country.id%>"class="hidden">(See Less...)</a>
	<%end %></ol>
</div>

<br>

<br>

<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
  <ul id="product-<%= product.id %>-orders">
  </ul>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".see_more").on("click", function() {
    var id = $(this).data("id");
    $.get("/countries/" + id + ".json", function(data) {
      var country = data;
      var continent= country["continent"];
      var city = country["city"];
      return continent
      return city
  });
});
</script>




<h5>Log a New<a href="/countries/new"> Country. </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>

