<h2 class= 'title'> Countries Travelled </h2>

<div>
	<ol><% @user.countries.uniq.each do |country| %>
		
		<strong><li><%= link_to country.name, country %></li><strong>
			<p id="cont"class="hidden">Continent: <%= country.continent%></p>
		<p id="city" class="hidden">City: <%= country.city%></p>

		<a href="#" id="see_more" onclick="see_more();"data-id="<%=country.id%>">(See More...)</a>
		
		

		<a href="#" id="see_less" onclick="see_less();"data-id="<%=country.id%>"class="hidden">(See Less...)</a>
	<%end %></ol>
</div>

<br>

<br>




<h5>Log a New<a href="/countries/new"> Country. </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>

