<h4> <%= @country.continent%></h4>
<h5> Country Visited: <%= @country.name%> </h5>
<h5> Cities you toured: <%= @country.city%></h5>
<h5>Description: <%= @country.description%></h5>

<br>

<%= render "visits/form" %>
<br>
<%= render "visits/countryvisit" %>

<br>

 <a href="/countries/:id/edit"> Edit Country </a>

<br>
<br>

 <a href="/countries"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @country, :method => :delete %>

