<a href="#" class="js-next" data-id="<%=@country.id%>">Next Country</a>
<br>


<h4 class="countryCont"> <%= @country.continent%></h4>
<h5 class="countryName"> Country Visited: <%= @country.name%> </h5>
<h5 class="countryCity"> Cities you toured: <%= @country.city%></h5>
<h5 class="countryDescript">Description: <%= @country.description%></h5>

<br>
<p id="visit-link" >
	<%= link_to "Add To Sites Visited", "#"%>
</p>
<div id="visit-section">
	<p><%= render "visits/form" %></p>
	<br>
</div>

<br>

	<p id="visit"><%= render "visits/countryvisit" %></p>

	 <br>

	<p><%= link_to "Click Here", visitsorder_country_visits_path(@visit.country, @visit) %> to see each attraction ordered by date.</p>

<a href="#" class="back"> Back </a>
<br>

	 <%= link_to "Edit Country", edit_country_path %>
	 <br>
<br>
 <%= button_to "Delete Country", @country, :method => :delete %>

