<a href="#" class="js-next" data-id="<%=@country.id%>">Next Country</a>
<br>


<h4 class="countryCont"> <%= @country.continent%></h4>
<h5 class="countryName"> Country Visited: <%= @country.name%> </h5>
<h5 class="countryCity"> Cities you toured: <%= @country.city%></h5>
<h5 class="countryDescript">Description: <%= @country.description%></h5>

<br>

<%= render "visits/form" %>
<br>
<%= render "visits/countryvisit" %>

<br>

 <%= link_to "Edit Country", edit_country_path %>
 <br>
 <br>

 <%= link_to "To see each attraction ordered by date:", visitsorder_country_visits_path(@visit.country, @visit) %>

<br>
<br>

<a href="#" class="back"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @country, :method => :delete %>

