<h4> <%= @country.continent%></h4>
<h5> Country Visited: <%= @country.name%> </h5>
<h5> Cities you toured: <%= @country.city%></h5>
<h5>Description: <%= @country.description%></h5>

<br>

<%= render "visits/form" %>
<br>
<%= render "visits/countryvisit" %>

<br>

 <%= link_to "Edit Country", edit_country_path %>
 <br>
 <br>

 <%= link_to "If you want to see each of the attraction/sights in order", visitsorder_country_visits_path(@visit.country, @visit) %>

<br>
<br>

 <a href="/countries"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @country, :method => :delete %>

