<a href="#" class="js-next" data-id="<%=@country.id%>">Next Country</a>
<h4 class="countryCont"> <%= @country.continent%></h4>
<h5 class=CountryName"> Country Visited: <%= @country.name%> </h5>
<h5 class="countryCity"> Cities you toured: <%= @country.city%></h5>
<h5 class="Countrydescript">Description: <%= @country.description%></h5>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/countries/" + nextId + ".json", function(data) {
      $(".countryCont").text(data["continent"]);
      $(".CountryName").text(data["name"]);
      $(".countryCity").text(data["city"]);
      $(".Countrydescript").text(data["description"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

<br>

<%= render "visits/form" %>
<br>
<%= render "visits/countryvisit" %>

<br>

 <%= link_to "Edit Country", edit_country_path %>
 <br>
 <br>

 <%= link_to "To see each attraction ordered by date:", visitsorder_country_visits_path(@visit.country, @visit) %>

<br>
<br>

 <a href="/countries"> Back </a>

<br>
<br>
 <%= button_to "Delete Country", @country, :method => :delete %>

