<!DOCTYPE html>
<html>
  <head>
    <title>TravelDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

      <div class="container">
      <% if current_user %>
       <a href="/countries"> Countries </a>
       <br>
       <a href="/visits">Visits</a>
       <br>
       <a href="/settings">Account Settings</a>
       <br>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <p>Hello, <%=current_user.email%>!</p>
     <%end %>
     <% if !current_user %>
          <a href="/users/sign_up"> Sign Up </a>    
          <br>
          <a href="/users/sign_in"> Sign In </a>
          <br>
          <div class="button">
            <%= link_to(image_tag("https://png.icons8.com/ios-glyphs/50/000000/github.png"), user_github_omniauth_authorize_path) %>
        
            <%= link_to(image_tag("https://png.icons8.com/color/50/000000/twitter.png"), user_twitter_omniauth_authorize_path) %>
      
           <%= link_to(image_tag("https://png.icons8.com/color/50/000000/amazon.png"), user_amazon_omniauth_authorize_path) %>
         </div>
       
      <% end %>
  
   </div>
    <div class="container">

      <h1>Travel Door</h1>

      <%=yield%>
      <br>
      <br>
      
      <h5 class="notice"><%= notice %></h5>
      <h5 class="alert"><%= alert %></h5>
    </div>
  </body>
</html>
