<!DOCTYPE html>
<html>
  <head>
    <title>TravelDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


  </head>

  <body>

      <div class="container">
      <% if current_user %>
      <a href="/continents"> Continents </a>
      <br>
       <a href="/countries"> Countries </a>
       <br>
       <%#= link_to "Visits", country_visit_path %>
  
       <a href="/settings">Account Settings</a>

       <br>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <p>Hello, <%=current_user.name_case%>!</p>
     <%end %>
     <% if !current_user %>
          <a href="/users/sign_up"> Sign Up </a>    
          <br>
          <a href="/users/sign_in"> Log In </a>
          <br>
         <div class = 'button'>
            <%= link_to(image_tag("https://png.icons8.com/color/50/000000/google-logo.png"),user_google_oauth2_omniauth_authorize_path) %>

            <%#= link_to(image_tag("https://png.icons8.com/ios-glyphs/50/000000/github.png"), user_github_omniauth_authorize_path) %>
       </div>
      <% end %>
   </div>
    <div class="container">
      <h2>Travel Door</h2>

      <%=yield%>
      <br>
      <br>
      
      <h5 class="notice"><%= notice %></h5>
      <h5 class="alert"><%= alert %></h5>
    </div>
  </body>
</html>
